
<div class="add-page__wrapper-dark">
  <svg class="background-gradient__circle" viewBox="4572 73 1328 1328">
    <defs>
      <linearGradient id="ddd" x2="0" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#ff8b8b"/>
        <stop offset="1" stop-color="#6676ff"/>
      </linearGradient>
    </defs>
    <circle cx="664" cy="664" r="664" fill="url(#ddd)" transform="translate(4572 73)"/>
  </svg>
    <svg class="back__button" routerLink="" viewBox="4085 152 98.5 126">
    <defs>
      <style>.a {
        fill: #2b244d;
      }

      .b {
        fill: rgba(0, 0, 0, 0);
      }

      .b, .c {
        stroke: #fff;
        stroke-width: 2px;
      }

      .c {
        fill: none;
      }

      .d {
        fill: #fff;
        font-size: 15px;
        font-family: SegoeUI, Segoe UI;
        letter-spacing: 0.4em;
      }</style>
    </defs>
    <g transform="translate(3980)">
      <circle class="a" cx="39" cy="39" r="39" transform="translate(105 152)"/>
      <line class="b" x1="80" transform="translate(123.5 190.5)"/>
      <line class="b" y1="26" x2="26" transform="translate(123.5 164.5)"/>
      <line class="c" x1="26" y1="27" transform="translate(123.5 190.5)"/>
      <text class="d" transform="translate(117 274)">
        <tspan x="0" y="0">BACK</tspan>
      </text>
    </g>
  </svg>
    <div class="info">
    <input type="text" id="search" list="matchingCitiesId" name="searchcity" placeholder="search city" ng-value="city"
      (keyup) = 'updateCity($event.target.value)'>
    <datalist id="matchingCitiesId">
        <option *ngFor="let matchingCity of matchingCities"
          value={{matchingCity}}></option>
      </datalist>
    <br />
    <input type="submit" value="Add City" (click)="addCity()">
    </div>
</div>
